<html>
@{
    if (Model is 1) {
        <head>
            <title>Успех</title>
        </head>
        <body>
            <div>
                <h1>Объявление было успешно добавлено!</h1>
            </div>
        </body>
    } else {
        <head>
            <title>Ошибка</title>
        </head>
        <body>
            <div>
                <h1>Что-то пошло не так!</h1>
            </div>
        </body>
    }
}

</html>